layout {
     default_tab_template hide_floating_panes=true{
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab focus=true {
      pane focus=true edit="src/main.rs" borderless=true
      pane split_direction="vertical" size="20%" {
        pane command="cargo" {
            args "run"
        }
        pane command="cargo" start_suspended=true     {
          args "test"
        }
      }
    }
    tab {
      pane split_direction="vertical" {
        pane
      }
    }
}
keybinds {
    shared {
//      bind "Ctrl p" { ToggleTab; }
      bind "Ctrl f" { ToggleFocusFullscreen; }
    }
}
